body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  background-color: #f4f4f4;
}
#wrapper {
  background-position: center;
  width: 768px;
  text-align: left;
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  border: 1px solid #999999;
}
.header {
  display: block;
  border-bottom: solid 1px #999999;
  background-color: #C9C9C9;
  font-size: 1.25em;
  padding: 10px;
}
form {
  text-align: center;
  padding: 10px;
}
#content {
  padding: 10px;
}
#footer {
  background-image: url(mtsu_logo.gif);
  background-repeat: no-repeat;
  background-position: right;
}
